.pageContainer {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 2;
  position-anchor: flex-start;
  width: 100%;
  padding-top: 50%;
}

.articleContainer {
  max-width: 655px;
  margin: 0 auto;
  padding: 20px;
}

.article {
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.category, .mainTag {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  font-weight: bold;
}

.title {
  font-size: 2.5rem;
  font-family: 'Georgia', serif;
  font-weight: 510;
  margin-bottom: 0.35rem;
  line-height: 1.4;
}

.excerpt {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Georgia', serif;
  margin-bottom: 2.5rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 1.5rem;
}

.featuredImage {
  object-fit: cover;
}

.imageReference {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.publishDate {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.content {
  font-size: 1.5rem;
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

.dropCap::first-letter {
  font-size: 3rem;
  float: left;
  line-height: 1;
  padding-right: 0.1em;
  padding-left: 0.05em;
  font-family: 'Georgia', serif;
}

.caption {
  font-family: 'Georgia', serif;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
}

/* Additional styles for not found message */
.notFound {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
}