.imageScrollerContainer {
  height: 55vh; /* Reduced height to leave space for the heading */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; /* Add some space after the heading */
  margin-bottom: 1rem; 
}

.imageBox {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageScroller {
  height: 55%; /* Reduced height */
  overflow-y: auto;
  width: 80px;
  padding-right: 10px;
  align-self: center; /* Center vertically */
  margin-left: auto;
  margin-right: 10px
}

.imageScroller::-webkit-scrollbar {
  width: 4px;
}

.imageScroller::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.imageScroller::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.aside {
  height: 100%;
}

.asideUl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
}

.li {
  flex: 0 0 60px; /* Reduced size */
  height: 60px; /* Reduced size */
  position: relative;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  margin-bottom: 8px;
}

.li.active {
  opacity: 1;
  transform: scale(1.1);
}

.liImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.liButton {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.asideSpan {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mainImg {
  max-width: 200%;
  max-height: 200%;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: relative;
}

.imageCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media(max-width: 768px) {
  .imageBox {
    flex-direction: column;
  }

  .imageScroller {
    width: 100%;
    height: 80px;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .asideUl {
    flex-direction: row;
  }

  .li {
    flex: 0 0 60px;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}